.editableText:hover {
	outline: 1px dashed grey;
}
.editableToolbar:hover + * {
	outline: 1px dashed grey;
}
.editableToolbar {
}
.editableToolbar a{
    display: block;
   /*width: 17px;*/
    height: 15px;
    float: left;
    margin: 2px;
	/*border:1px solid black;*/
}
.editableToolbar .edit {	
	/*background: url("/gdoc/images/collapse.gif");*/
}
.editableToolbar .save {
    background: url("/gdoc/images/accept.png") -16px 0;
}
.editableToolbar .cancel {
    background: url("/gdoc/images/cancel.png") 16px 0;
}