body {
	font-size:90%;
  	font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
}
.tabDiv {
	font-size: 62.5%;
}
#hd {
		background-color: #334477;
}
#doc3 {
	margin: 0px;
}

#navigation {
	background: #E7EEF3;
}

ul#gdocNavigation {
	color:#000000;
	line-height:1.3;
	list-style: none;
	font-size: .75em;
	background: #E7EEF3;
}
ul#gdocNavigation li a {
	background: #E6E6E6;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	color:#000000;
}
ul#gdocNavigation li a:hover { 
	background-color: #336699; 
}
ul#gdocNavigation li h3
{
	background: #99C2FF;
	border: 1px solid #CCCCCC;
	font-weight: normal;
	padding: 0.75em 1em;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
}

h2 	
{ 
	margin-bottom: 0; 
	margin-left:13px;
	height:40px;
}

h2 span
{
	display: none;
}

p	
{ 
	margin-top: .5em;
	font-size: 1em;
	padding-left:15px;	
}

.panel {
	border: 1px solid #CCCCCC;
	text-align: left;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
}

.panelTitle {
	background: #99C2FF;
	padding:5px;
	background:#99C2FF url(cupertino/images/ui-bg_glass_50_99c2ff_1x400.png) repeat-x scroll 50% 50%;
}

.userLogPanelTitle {
	background: #FFBE5C;
	padding:5px;
	background:#FFBE5C;
}

.welcome {
	width: 550px;
}

.welcomeTitle {
	border-top:1px solid black;
	padding-top:5px
}

.news {
	width: 250px;
	font-size:12px;
}

.user {
	width: 350px;
	font-size:12px;
}

.prefs {
	width: 220px;

}

.clinicalSearch {
	background: #E6E6E6 none repeat scroll 0 0;
	border: 1px solid #CCCCCC;
	padding:5px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
}

.studyTable {
	font-size: .8em;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
.studyTable th {
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.studyTable td {
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.myPanelContent {
	padding: 5px;
}